
    
    <div class="card z-depth-5 sign">
        <h4><i class="fas fa-address-book"></i> SignIn</h4>
        <div class="card-content">
           <a href="/auth/google" class="btn red darken-1 login-btn">
        <i class="fab fa-google "></i>Sign In With Google
        </a>
           <a href="/auth/facebook" class="btn blue darken-1 login-btn">
        <i class="fab fa-facebook "></i>Sign In With Facebook
        </a>
        </div>
        {{!-- <p>Don't Have An Account ? <a href="/signup">SignUp</a></p> --}}
    </div>
  