
    <nav>
    <div class="nav-wrapper blue darken-1">
      <a href="#!" class="brand-logo">Say It Loud</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Create Post</a></li>
        <li><a href="sass.html">Posts</a></li>
        <li><a href="collapsible.html">Hashtags</a></li>
        <li><a href="#" data-target='dropdown1' class="chip dropdown-trigger"><img src="https://materializecss.com/images/sample-1.jpg">Gimna Katugampala</a></li>
        <li><a href="collapsible.html">SignIn</a></li>
        <li><a href="collapsible.html">SignUp</a></li>
      </ul>
    </div>
  </nav>

  {{!-- Dropdown Menu --}}
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">My Account</a></li>
    <li><a href="#!">SignOut</a></li>
  </ul>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Create Post</a></li>
          <li><a href="sass.html">Posts</a></li>
        <li><a href="badges.html">My Account</a></li>
        <li><a href="collapsible.html">Hashtags</a></li>
        <li><a href="collapsible.html">SignIn</a></li>
        <li><a href="collapsible.html">SignUp</a></li>
        <li><a href="mobile.html">SignOut</a></li>
  </ul>
