<h6>News</h6>
<div id="news">
    {{!-- <div class="card-news">
        <a href="#" class="link-news">
            <span class="news-header">
            <p>date: 2020-20-89</p> 
            <p>Gimna Katugampala</p>
            </span>
            <span class="news-body">
                   <div class="card-desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi inventore Lorem ipsum dolor sit amet c
        </div>
        <div class="card-img">
            <img src="https://lh3.googleusercontent.com/a-/AOh14GiKp4KFiujqOufxCRkbbdTlbmxeJtfY8wMdhVbIsQ=s96-c" alt="">
        </div>
            </span>
    </a>
    </div> --}}

<div class="loader"></div>
</div>

