<h6 style="text-align: center;">Trending</h6>

<div class="tredning">
    {{!-- <a href="#" class="main-trending">
        <span class="word-trending">
            #Code
        </span>
        <span class="volume-trending">
            123
        </span>
    </a> --}}
    <div class="load"></div>
</div>