
      <div class="card feed-post">

          <span style="display:flex;padding:10px;" class="grey lighten-2">
              <img src="https://materializecss.com/images/sample-1.jpg" style="width: 60px;height:60px;border-radius:50%;margin-right:10px">
             <a href="#"  style="margin: 0px;">Gimna Katugamapala
                 <p style="margin: 0;">@gimna</p>
             </a>
          </span>
         
        <div class="card-image">
          <img src="https://materializecss.com/images/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="far fa-trash-alt"></i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="row section" >
          <a href="#" class="col m4 s4"><i class="far fa-thumbs-up"></i> Like</a>
          <a href="#" class="col m4 s4"><i class="far fa-comment"></i> Comments</a>
          <a href="#" class="col m4 s4"><i class="far fa-share-square"></i> Share</a>
        </div>
      </div>




         