<h5 style="text-align: center;">Search Tweets</h5>

  <div class="row">
    <form class="col s12" id="search-form" action="/search" method="GET">
      <div class="row">
        <div class="input-field col s9">
          <input id="query" type="text" name="q">
          <label for="query">Search Tweets</label>
        </div>
        <div class="input-field col s3">
        <button class="btn waves-effect waves-light" type="submit" >Search
            <i class="material-icons right">search</i>
        </button>
        </div>
      </div>
    </form>
  </div>

  <div id="search">
        <div class="search-main">
      <div class="search-header">
          <p class="tweet-username">
             Username :  @gimna
          </p>
          <div class="tweet-source">
              Tweeter Web App
          </div>
      </div>
      <div class="search-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sit repellat error corporis neque repellendus unde! Veniam enim quis est culpa aspernatur ut perferendis nam velit cupiditate? Cum, temporibus numquam!
      </div>
      </div>
  </div>
        


var requestOptions = {
  method: 'GET',
  redirect: 'follow'
};

fetch("https://api.twitter.com/2/tweets/search/recent?query=nyc&tweet.fields=author_id,created_at,entities,geo,in_reply_to_user_id,lang,possibly_sensitive,referenced_tweets,source", requestOptions)
  .then(response => response.text())
  .then(result => console.log(result))
  .catch(error => console.log('error', error));