<h5 style="text-align: center;">Search Tweets</h5>

  <div class="row">
    <form class="col s12" id="search-form" action="/search" method="GET">
      <div class="row">
        <div class="input-field col s9">
          <input id="query" type="text" name="q">
          <label for="query">Search Tweets</label>
        </div>
        <div class="input-field col s3">
        <button class="btn waves-effect waves-light" type="submit" >Search
            <i class="material-icons right">search</i>
        </button>
        </div>
      </div>
    </form>
  </div>

  <div id="search">
        <div class="search-main">
      <div class="search-header">
          <p class="tweet-username">
            <img src="https://www.wpbeginner.com/wp-content/uploads/2020/03/addlinkinwp-og.png" class="username-img">
            <p class="user-search"> Username :  @gimna</p>
          </p>
          <div class="tweet-source">
              Tweeter Web App
          </div>
      </div>
      <div class="search-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sit repellat error corporis neque repellendus unde! Veniam enim quis est culpa aspernatur ut perferendis nam velit cupiditate? Cum, temporibus numquam!
      </div>
      </div>

      <div class="search-loading"></div>
  </div>
        