<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="/css/style.css">
    <title>SAY IT LOUD</title>
</head>
<body>

   {{> _navbar 
   
   userimg=userimg
   userfirstname=userfirstname
   userlastname=userlastname
   id=id
   displayname=displayname
   googleId=googleId
    }}

    <div class="row">
        <div class="col s12 m3 ">
        {{> _news}}
        </div>

        <div class="col s12 z-depth-3 m6">
        {{{body}}}
        </div>

        <div class="col s12 m3" >
        {{> _trending}}
        </div>
    </div>
    
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="/uploads"></script>
     <script>
         M.Sidenav.init(document.querySelector('#mobile-demo'))
         M.Dropdown.init(document.querySelectorAll('.dropdown-trigger'))
        M.FormSelect.init(document.querySelectorAll('select'))
        M.Modal.init(document.querySelectorAll('.modal'))
     </script>

     <script>
         // Share
         const clickShares = document.querySelectorAll('.modal-share')
         const modalMain = document.getElementById('modal-parent')
         const modalParent = document.getElementById('modal-parent')


        for(let i=0;i < clickShares.length; i++ ){
            clickShares[i].addEventListener('click',function(){
                getModal(clickShares[i].href)
            })
        }
        
        //onClick get the modal share
        function getModal(data){
            //Display modal
            modalMain.style.display = 'block'

            const resultDat = data.replace('#','/')
            
            modalParent.innerHTML = `
                <div id="modal-main">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h4>Share on Social Media</h4>
                    <div class="social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-reddit-alien"></i>
                    </div>
                    <div class="copy">
                    <input type="text" value="${resultDat}" class="copy-input">
                    <p class="copied">Copied</p>
                    <button class="btn copy-button" onClick="clickcopy()">Copy Text</button>
                    </div>
                </div>
                </div>
            `
            console.log(data)
 
        }

            //Close modal
         modalMain.addEventListener('click',function(e){

             if(e.target.getAttribute('id') === 'modal-main'){
                modalMain.style.display = 'none'
             }else if(e.target.getAttribute('class') === 'close'){
                  modalMain.style.display = 'none'
             }

            })

        
         // Clipboard copy click
         function clickcopy(){
        const copied = document.querySelector('.copied')    
         const input = document.querySelector(".copy-input")

            
        /* Select the text field */
        input.select();
        input.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(input.value);

        copied.style.display = 'block'

         }


       //Comment
         const clickComment = document.querySelectorAll('.modal-comment')
         const blockComment = document.querySelector('.block-comment')
        
           for(let i=0;i < clickComment.length; i++ ){
            clickComment[i].addEventListener('click',function(){
                getComment(clickComment[i].href)
            })
        }

        function getComment(data){
            // Get the block of the comment section
            blockComment.style.display = 'block'

           const result =  data.replace('http://localhost:3000/posts#','')

            //get the html dot the Dom
            blockComment.innerHTML = `
                <div class="comment-content">
                <div class="comment-header">
                <span class="comment-close">&times;</span>
                <h5>Leave a Comment</h5>
                </div>
                <form class="comment-body" method="POST" action="/comments">
                <input type="hidden" name="postId" value="${result}">
                <input type="hidden" name="displayName" value={{firstLower displayname}}>
                <input type="hidden" name="userId" value={{id}}>
                <input type="hidden" name="userImage" value={{userimg}}>
                <div class="input-field col s12">
                    <textarea name="comment" id="comment" class="materialize-textarea"></textarea>
                    <label for="comment">Comment</label>
                    </div>

                <button class="btn waves-effect waves-light" type="submit">Submit</button>
                </form>
            </div>

            `
            
        }

        //Close comment model
        blockComment.addEventListener('click',function(e){
                if(e.target.className == 'block-comment'){
                     blockComment.style.display = 'none'
                }else if(e.target.className == 'comment-close'){
                     blockComment.style.display = 'none'

                }
        
        })


     </script>

     {{!-- News --}}
     <script>

         const newsRoom = document.getElementById('news')
         const loader  = document.querySelector('.loader')


         fetch(`https://newsapi.org/v2/top-headlines?country=us&apiKey=67773a1a4b0841e5877c2d2095afd9bf`)
         .then(res => res.json())
         .then(data => {
             console.log(data.articles)

             if(data.articles.length == ''){
                 newsRoom.innerHTML = '<div class="loader"></div>'
             }else{
                 loader.style.display = 'none'
                 data.articles.forEach(function(item, index){
                     newsRoom.innerHTML += `
                            <div class="card-news">
                    <a href="${item.url}" class="link-news" target="_blank">
                        <span class="news-header">
                        <p>Date:  ${item.publishedAt.substring(0, 10)}</p> 
                        <p>${item.author}</p>
                        </span>
                        <span class="news-body">
                            <div class="card-desc">
                                ${item.description.substring(0, 50)}
                    </div>
                    <div class="card-img">
                        <img src="${item.urlToImage}" class="card-img">
                    </div>
                        </span>
                </a>
                </div>
                     `
                 })

             }


         })

     </script>

    {{!-- Trending --}}
     <script>

         const trendingDOM = document.querySelector('.tredning')
         const load  = document.querySelector('.load')

         fetch('http://localhost:3000/trending')
         .then(res => res.json())
         .then(data => {

               if(data[0].trends == ''){
                 trendingDOM.innerHTML = '<div class="load"></div>'
             }else{
                 load.style.display = 'none'
                 data[0].trends.forEach(function(item, index){
                     trendingDOM.innerHTML += `
                       <a href="${item.url}" class="main-trending" target="_blank">
                        <span class="word-trending">
                            ${item.name}
                        </span>
                        <span class="volume-trending">
                            ${item.tweet_volume}
                        </span>
                    </a>
                     `
                 })

             }

         })

     </script>

    {{!-- Search tweets --}}
     <script>
         const search = document.getElementById('search-form')
         const query = document.getElementById('query')

         search.addEventListener('submit',function(e){
             e.preventDefault();

             console.log(query.value)

             if(query.value === ''){
                 alert('Please enter a query')
             }

         })
     </script>


</body>
</html>