<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="/css/style.css">
    <title>SAY IT LOUD</title>
</head>
<body>

   {{> _navbar 
   
   userimg=userimg
   userfirstname=userfirstname
   userlastname=userlastname
   id=id
   displayname=displayname
   googleId=googleId
    }}

    <div class="row">
        <div class="col s12 m3 ">
        {{> _news}}
        </div>

        <div class="col s12 z-depth-3 m6">
        {{{body}}}
        </div>

        <div class="col s12 m3" >
        {{> _trending}}
        </div>
    </div>
    
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="/uploads"></script>
     <script>
         M.Sidenav.init(document.querySelector('#mobile-demo'))
         M.Dropdown.init(document.querySelectorAll('.dropdown-trigger'))
        M.FormSelect.init(document.querySelectorAll('select'))
        M.Modal.init(document.querySelectorAll('.modal'))
     </script>

     <script>
         const clickShares = document.querySelectorAll('.modal-trigger')

        for(let i=0;i < clickShares.length; i++ ){
            clickShares[i].addEventListener('click',function(){
                getModal(clickShares[i].href)
            })
        }

        function getModal(data){
            const resultDat = data.replace('#','/')

            const modalParent = document.getElementById('modal-parent')

            modalParent.innerHTML = `
                <div id="modal-main">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h4>Share on Social Media</h4>
                    <div class="social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-reddit-alien"></i>
                    </div>
                    <div class="copy">
                    <input type="text" value="${resultDat}" class="copy-input">
                    <button class="btn copy-button">Copy Text</button>
                    </div>
                </div>
                </div>
            `


            
            console.log(data)
        }
     </script>


</body>
</html>