.brand-logo{
    font-size: 30px !important;
    padding: 30px;
}


.sign{
    width: 50%;
   margin: auto;
   text-align: center;
   padding: 40px;
   margin-top: 70px;
}

.login-btn{
    width: 100%;
    margin-top: 15px;
}

.fab{
    margin-right: 5px;
}

.feed-post{
    margin: 50px;
}

.section{
    text-align: center;
}

.head-section-post{
    display:flex;
    padding:10px;
}

.img-post-head{
    width: 60px;
    height:60px;
    border-radius:50%;
    margin-right:10px;
}

.by{
    margin: 0px;
}

.username{
    margin: -3px;
}

.date{
    margin: -1px;
    color:#333;
    font-size:13px;
}